{% extends "layout.html" %}
  
{% block title %}Attributions{% endblock %}
{% block lead %}This page must show the attribution form of your project. This includes the work done by each of the student members on your team and any work that was done by people outside of your team, including the host labs, advisors, instructors, and individuals not on the team roster. This requirement is not about literature references - these can and should be displayed throughout your wiki.{% endblock %}

{% block page_content %}

<script src="{{ url_for('static', filename = 'fade-in.js') }}"></script>

<div style="background-color: #dbf9fc" class="box fade-in">
  <h1 class="fade-in">Overview</h1>
  <hr class="fade-in" />
  <p class="fade-in">
    This page is dedicated to everyone who supported our team and assisted us on
    our iGEM journey. We could not be more grateful to the researchers,
    educators, peers, and our community who have extended their support over the
    2023 iGEM season.
  </p>
</div>

<div class="box fade-in">
  <h1 class="fade-in">Advisor</h1>
  <hr class="fade-in" />
  <p class="fade-in" style="font-size: 1.2 rem">
    <center>
    Thank you to our school advisor, Juli Cheskaty, for their support along the way.
    </center>
  </p>
</div>

<div class="box fade-in">
  <h1 class="fade-in">Mentor</h1>
  <hr class="fade-in" />
  <p class="fade-in" style="font-size: 1.2 rem">
    <center>
      We would like to thank David Lanster for his mentorship throughout every aspect of our project. He guided us through the wet lab, and also took time to review our wiki pages and promo video. Our project would not be possible without him. 
    </center>
  </p>
  <p class="fade-in" style="font-size: 1.2 rem">
    <center>
      Dr. Iaci Soares has helped us tremendously over the past few months in developing our project and helping us prepare our presentation for the judges. 
    </center>
  </p>
  <p class="fade-in" style="font-size: 1.2 rem">
    <center>
      We would also like to thank Dr. Ahmed Badran for allowing us to work in his lab at the Scripps Research Institute and guiding us through our project.    
     </center>
  </p>
</div>

<div class="box fade-in">
  <h1 class="fade-in">Expert Consultations</h1>
  <hr class="fade-in" />
  <h2>x</h2>
  <p>
    x
  </p>
  <br />
  <h2>x</h2>
  <p>
    x
  </p>
  <br />
  <h2>x</h2>
  <p>
    x
  </p>
  <br />
  <h2>x</h2>
  <p>
    x
  </p>


<!--
  ======================================================================
  == VERY IMPORTANT                                                   ==
  ======================================================================
  LEAVE THE IFRAME CODE BELOW AS IT IS, THE ATTRIBUTION FORM OF YOUR TEAM
  WILL BE DISPLAYED ON THIS PAGE. DO NOT REMOVE IT, OTHERWISE YOU RISK OF
  NOT MEETING BRONZE MEDAL CRITERION #2
 -->
<div class="row mt-4">
  <script type="text/javascript">
    // Listen to size change and update form height
    window.addEventListener('message', function (e) {
      const {type, data} = JSON.parse(e.data);
      if (type === 'igem-attribution-form') {
        const element = document.getElementById('igem-attribution-form')
        element.style.height = data + 50 +'px'
      }
    });
  </script>
  <iframe
    style='width: 100%'
    id="igem-attribution-form"
    src="https://attributions.igem.org?team=DNHS-SanDiego-CA&year=2023"
  >
  </iframe>
  <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->

</div>

{% endblock %}
