{% extends "layout.html" %}
  
{% block title %}Attributions{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}

<script src="{{ url_for('static', filename = 'fade-in.js') }}"></script>
<style>
      .green-cell {
              background-color: #C8E6C9; /* Green background color for certain cells */
          }
          table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
      </style>

<div style="background-color: #C6EDC3" class="box fade-in">
  <h1 class="fade-in">Overview</h1>
  <hr class="fade-in" />
  <p class="fade-in">
    This page is dedicated to everyone who supported our team and assisted us on our iGEM journey. We could not be more grateful to the researchers, educators, peers, and our community who have extended their support during the 2023 iGEM season.

  </p>
</div>

<div class="box fade-in">
  <h1 class="fade-in">Advisor</h1>
  <hr class="fade-in" />
  <p class="fade-in" style="font-size: 1.2 rem">
    <center>
      Thank you to our school advisor, Juli Cheskaty, for their support along the way. 

    </center>
  </p>
</div>

<div style="background-color: #C6EDC3" class="box fade-in">
  <h1 class="fade-in">Mentors</h1>
  <hr class="fade-in" />
  <p class="fade-in" style="font-size: 1.2 rem">
    <center>
      We would like to thank David Lanster for his mentorship throughout every aspect of our project. He guided us through the wet lab, and also took time to review our wiki pages and promo video. Our project would not be possible without him. 
    </center>
  </p>
  <p class="fade-in" style="font-size: 1.2 rem">
    <center>
      Dr. Iaci Soares has helped us tremendously over the past few months in developing our project and helping us prepare our presentation for the judges. 
    </center>
  </p>
  <p class="fade-in" style="font-size: 1.2 rem">
    <center>
      We would also like to thank Dr. Ahmed Badran for allowing us to work in his lab at the Scripps Research Institute and guiding us through our project.    
     </center>
  </p>
</div>

<div class="box fade-in">
  <h1 class="fade-in">Expert Consultations</h1>
  <hr class="fade-in" />
  <h2> Dr. Mark Pellett (Senior Director and Group Manager at AstraZeneca) </h2>
  <p>
     
Dr. Pellett helped us by drawing from past research to suggest alternate techniques in improving the sensitivity of the biosensor after our mutation only resulted in a slight fold increase, inspiring us to incorporate mutations of pTPA3 into the promoter sequence in addition to the reporter and importer proteins. Having done extensive research involving primers, he also taught us the fundamentals of various techniques we incorporated into the wet lab, such as USER assembly, serial dilutions, gel electrophoresis, and PCR. He also helped ensure our comprehension of our experimental protocol at all times, allowing us to be the most productive in the lab setting. We thank Dr. Pellett for presenting us with thought-provoking questions which invigorated our curiosity in the field of synthetic biology, ones which have led to our success today.

  </p>
  <br />
  <h2> Ms. Lara Khosla (Associate Director Regulatory CMC at GW Pharmaceuticals) </h2>
  <p>
    
Ms. Khosla gave her input regarding our project choice at the beginning of our iGEM season. She helped guide us through initial research and directed our research department to different scientific publications as well throughout our background reading stage. At the end of our project, she helped us stimulate a practice judging session in preparation for the jamboree. Ms. Khosla encouraged us to improve our engineering success page by emphasizing the impact of our work in the scientific community, beyond just stating our results. She also directed us to explore the potential of our project and how our research could benefit other scientists looking into phenomena pertaining to P.E.T. plastics.


  </p>
  <br />
  <h2> Dr. Christopher Johnson (Synthetic Biology at the National Renewable Energy Laboratory) </h2>
  <p>
    
Having previously worked with MucK and TpaK for his own research, Dr. Johnson was able to approach our project with an educated viewpoint and understand the previous research we had access to in the scientific community. He confirmed the reproducibility and accuracy of our scientific procedure, as gel electrophoresis, PCR, and other used procedures are commonly used in several labs. He also advised us in several confusions over the next steps in our experimentation with brainstorming and analysis,  and used his understanding of these importer proteins to help us better understand the results we achieved with our research. He also helped us simulate a final presentation to present to the public and increase awareness about plastic pollution.

  </p>
  <br />
  <h2>Dr. Sonu Kumar (Discovery Biotherapeutics at Bristol Myers Squibb)</h2>
  <p>
     
As a high school team with minimal computational experience, Dr. Kumar advised us on the initial steps of the modeling procedure using PyMol and molecular docking predictions. After unexpected results of TPA binding to the exterior of the importer protein, he helped explain some sources of potential computational error that could have accounted for variation from wet lab experimentation and guided our next steps into observing general TPA patterns to explain the general behavior of this protein in the cellular environment. He also gave us feedback on our presentation of the modeling in a clear, descriptive way and variations in scientific terminology based on our intended audience.

  </p>

  <h2> Dr. Ramesh Jha (Scientist at Los Alamos National Laboratory) </h2>
  <p>
     
Dr. Jha helped us understand the importance of our mission to help not only scientists, but educate the public on the problem with plastic pollution that is leading to a rapidly increasing rate of global warming. He gave us an in-depth explanation on the separate uses of MucK, a very versatile transporter, for other research about the environment, such as the transfer of adipic acid (and beta-ketoadipic acid), which is a degradation product from nylon-66 fibers that are used in the textile and plastic industries. He advised us on incorporating MucK used for PET with these other applications, making more mutations in our plasmid to increase sensitivity of the biosensor, and reducing the background noise of the measurements for future research to be done on this project.

</p>
  
</div>
<br/> 

<table>
    <tbody>
      <tr style = height:23px;">
        <th></th>
        <th>
          <div>Conceptualization</div>
        </th>
        <th>
          <div>Literature Search</div>
        </th>
        <th>
          <div>Wet Lab</div>
        </th>
        <th>
          <div>Modeling</div>
        </th>
        <th>
          <div>Design</div>
        </th>
        <th>
          <div>Safety</div>
        </th>
        <th>
          <div>Expert Consultations</div>
        </th>
        <th>
          <div>Social Media</div>
        </th>
        <th>
          <div>Children’s Book</div>
        </th>
        <th>
          <div>Guidebook</div>
        </th>
        <th>
          <div>Survey</div>
        </th>
        <th>
          <div>Camp</div>
        </th>
        <th>
          <div>Wiki Design</div>
        </th>
        <th>
          <div>Promo Video</div>
        </th>
        <th>
          <div>Team Logo Design</div>
        </th>
      </tr>
      <tr>
        <td>Faiza Alam</td>
        <td class="green-cell" ></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
      </tr>
      <tr>
        <td>Nupur Bhalla</td>
        <td></td>
        <td class="green-cell"></td>
        <td ></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td></td>
      </tr>
      <tr>
        <td>Prakruti Bhatt</td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td></td>
      </tr>
      <tr>
        <td>Shefali Chaubey</td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
      </tr>
      <tr>
        <td>Shreena Dayal</td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="filled"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
      </tr>
      <tr>
        <td>Saanvi Dogra</td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
      </tr>
      <tr>
        <td>Vibha Ganji</td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
      </tr>
      <tr>
        <td>Vidha Ganji</td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
      </tr>
      <tr>
        <td>Jason Gao</td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
      </tr>
      <tr>
        <td>Zinia Khattar</td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
      </tr>
      <tr>
        <td>Tanvi Movva</td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
      </tr>
      <tr>
        <td>Shree Patel</td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td ></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
      </tr>
      <tr>
        <td>Dishti Wadhwani</td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
      </tr>
      <tr>
        <td>Andrea Wang</td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
      </tr>
      <tr>
        <td>Grace Wang</td>
        <td></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
      </tr>
      <tr>
        <td>Lilian Zeng</td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td></td>
        <td></td>
        <td class="green-cell"></td>
        <td ></td>
        <td class="green-cell"></td>
        <td class="green-cell"></td>
      </tr>
   </tbody>
  </table>
  
<!--
  ======================================================================
  == VERY IMPORTANT                                                   ==
  ======================================================================
  LEAVE THE IFRAME CODE BELOW AS IT IS, THE ATTRIBUTION FORM OF YOUR TEAM
  WILL BE DISPLAYED ON THIS PAGE. DO NOT REMOVE IT, OTHERWISE YOU RISK OF
  NOT MEETING BRONZE MEDAL CRITERION #2
 -->
<div class="row mt-4">
  <script type="text/javascript">
    // Listen to size change and update form height
    window.addEventListener('message', function (e) {
      const {type, data} = JSON.parse(e.data);
      if (type === 'igem-attribution-form') {
        const element = document.getElementById('igem-attribution-form')
        element.style.height = data + 50 +'px'
      }
    });
  </script>
  <iframe
    style='width: 100%'
    id="igem-attribution-form"
    src="https://attributions.igem.org?team=DNHS-SanDiego-CA&year=2023"
  >
  </iframe>
  <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->

</div>

{% endblock %}
