{% extends "layout.html" %} {% block title %}Contribution{% endblock %} {% block
lead %}{% endblock %} {% block page_content %}

<script src="{{ url_for('static', filename = 'fade-in.js') }}"></script>

<div style="background-color: #C6EDC3" class="box fade-in">
  <h1 class="heading">Overview</h1>
  <hr class="fade-in" />
  <p class="paragraph fade-in">
    Through our one-pagers, we hope to provide less experienced teams with short
    guides on running a more successful iGEM project with a particular focus on
    human practices. We included topics like guides on using social media for
    outreach and awareness and email templates to make scientific communication
    easier.
  </p>
</div>

<div class="box fade-in">
  <h1 class="heading fade-in">One Pagers</h1>
  <hr class="fade-in" />
</div>
<div class="fade-in">
  <embed class="pdf-container" src="https://static.igem.wiki/teams/4651/wiki/scicomm/igem-one-pager-2023.pdf" type="application/pdf" />
</div>

{% endblock %}
