{% extends "layout.html" %} {% block title %}Education{% endblock %} {% block
lead %}{% endblock %} {% block page_content %}

<div style="background-color: #C6EDC3" class="box fade-in">
  <h1 class="heading fade-in">Introduction</h1>
  <hr class="fade-in" />
  <p class="paragraph fade-in">
    One of the main goals of our project was to engage younger students and the
    greater community with scientific topics.
  </p>
</div>
<div class="box fade-in">
  <h1 class="heading fade-in">Instagram and Social Media Outreach</h1>
  <hr class="fade-in" />
  <p class="paragraph fade-in">
    In addition to our offline outreach, we also used social media to reach a
    wider audience beyond our immediate community. As mentioned above, we used
    social media (Instagram: @dnhsigem) to spread our survey and educate users
    on basic PET pollution facts. We also posted information about recycling and
    how to avoid plastic pollution. These activities were important to us as we
    were able to present our project to a global audience and engage with other
    scientists in a casual way.
  </p>
  <!--pic of ig here-->
</div>
<div style="background-color: #C6EDC3" class="box fade-in">
  <h1 class="heading fade-in">Summer Camp</h1>
  <hr class="fade-in" />
  <p class="paragraph fade-in">
    One of our main goals was to generate students’ interest in science from a
    young age. This year, we hoped to extend our outreach to elementary
    schoolers. Typically, these students are only taught science in very basic
    terms, focusing primarily on the life and earth sciences. According to the
    Science Content Standards for California public schools, chemical reactions
    are typically only introduced in 5th grade, in a simplified form: “Students
    know differences in chemical and physical properties of substances are used
    to separate mixtures and identify compounds.”
  </p>
  <p class="paragraph fade-in">
    Thus, our team held two sessions of a free three-day forensics-themed summer
    camp for 1st through 5th graders. Through the camp, we hoped to deepen
    students’ knowledge of science through engaging, hands-on activities. We
    introduced the idea of physical versus chemical reactions and the concept of
    conservation of matter. We also introduced the students to properties they
    might not have been exposed to before, such as solubility and pH. We paired
    this with hands-on testing of various unknown powders and liquids. By
    performing guided tests on the powders, including their pH, solubility in
    water, reaction to HCl and iodine, and observations through a magnifying
    glass, students were able to identify the mystery powders (salt, sugar,
    cornstarch, gelatin, baking soda, Alka seltzer, and vitamin C) and liquids
    (water, lemon juice, hydrogen peroxide, rubbing alcohol, and vinegar). Other
    forensics-related activities we conducted included fingerprinting and
    identifying the different types of fingerprints, as well as paper
    chromatography.
  </p>
  <!--fignerprints img here-->
  <p class="paragraph fade-in">
    Especially when working with young students, it is crucial to discuss lab
    safety. Throughout the camp, we emphasized the importance of not ingesting
    any of the substances. We made sure students were wearing their safety
    goggles at all times. We also taught the students how to waft a sample,
    rather than directly smelling it. Overall, our camp was a success; though we
    initially only planned for one session, around 40 parents expressed
    interest, leading us to conduct another session in order to reach as many
    interested students as possible.
  </p>
  <!--more img here-->
  <p class="paragraph fade-in">
    In addition to providing direct instruction to students, we also created an
    archive of our engaging and educational slides on forensic related biology
    topics. Other science educators and iGEM teams can use these resources as
    inspiration for their own education ventures. The slideshows provide a full
    five day summer camp plan for 4th-8th graders with hands-on lab activities
    included.
  </p>
</div>
<div class="fade-in">
  <embed
    class="pdf-container"
    src="https://static.igem.wiki/teams/4651/wiki/camp/day-1.pdf"
    type="application/pdf"
  />
</div>
<br />
<div class="fade-in">
  <embed
    class="pdf-container"
    src="https://static.igem.wiki/teams/4651/wiki/camp/day-2.pdf"
    type="application/pdf"
  />
</div>
<br />
<div class="fade-in">
  <embed
    class="pdf-container"
    src="https://static.igem.wiki/teams/4651/wiki/camp/day-3.pdf"
    type="application/pdf"
  />
</div>
<br />
<div class="fade-in">
  <embed
    class="pdf-container"
    src="https://static.igem.wiki/teams/4651/wiki/camp/day-4.pdf"
    type="application/pdf"
  />
</div>
<br />
<div class="fade-in">
  <embed
    class="pdf-container"
    src="https://static.igem.wiki/teams/4651/wiki/camp/day-5.pdf"
    type="application/pdf"
  />
</div>
<br />
<div class="box fade-in">
  <h1 class="heading fade-in">Survey</h1>
  <hr class="fade-in" />
  <p class="paragraph fade-in">
    In addition to educating the younger generation, we wanted to make a bigger
    impact in our community as a whole. Our team conducted a concise survey
    across various age groups to identify common misconceptions regarding
    recycling, plastic pollution, and PET. We distributed this survey across our
    school, library, and various public spaces within our community. We
    displayed posters containing QR codes in classrooms, particularly science
    classrooms, and promoted the survey across multiple social media platforms.
    Please view our survey page to see full details on our survey.
  </p>
  <!--survey button-->
  <p class="paragraph fade-in">
    After we closed the survey, we made informational infographics (see Survey
    and One Pagers) identifying the correct answers to our survey questions,
    which we posted on our Instagram (@dnhsigem) in order to educate survey
    participants and our followers. Our survey also included a “Personal
    Questions” section, where we invited participants to answer questions
    regarding their own recycling habits and plastic use. Notably, out of those
    who selected “neutral”, “disagree”, or “strongly disagree” to the statement
    “I make a conscious effort to recycle.”, 71% cited confusion over which
    products can and cannot be recycled. This was the most common reason, out of
    other options including lack of incentive, inconvenience, lack of access to
    recycling bins, and the idea that one person’s recycling habits are not
    enough to make a difference.
  </p>
  <p class="paragraph fade-in">
    To corroborate our online survey results and to expand our impact beyond our
    social media circle, we also interviewed people at our local beach. Being
    part of a coastal city, San Diegans have a unique responsibility to avoid
    plastic pollution and preserve our delicate marine environments. When asked,
    “On a scale of 1-5, how concerned are you about the increase in plastic
    pollution in our communities?” most participants answered with 4s and 5s. In
    addition, we asked 14 yes-or-no questions about whether or not the products
    named were recyclable; these included: 1. paper scraps, 2. paper napkins, 3.
    plastic utensils, 4. aluminum bottles, 5. styrofoam to-go containers, 6.
    plastic candy wrappers, 7. glass jars, 8. plastic bags, 9. cereal boxes, 10.
    drinking glasses, 11. empty aerosol cans, 12. lightbulbs, 13. magazines, and
    14. plastic bottles. Out of the 15 beachgoers interviewed, participants
    averaged 8.6 questions out of 14 correct, which is only slightly better than
    guessing. In addition to interviewing beachgoers, we were also able to
    educate them on the most effective ways to recycle and avoid plastic
    pollution.
  </p>
  <!--images-->
</div>
<div style="background-color: #C6EDC3" class="box fade-in">
  <h1 class="heading fade-in">Guidebook</h1>
  <hr class="fade-in" />
  <p class="paragraph fade-in">
    From our survey results, we concluded that, while there is a genuine desire
    to recycle, many individuals struggle to stick to these recycling guidelines
    and lack a clear understanding of effective recycling practices. Without
    this knowledge, ecosystems, particularly San Diego’s marine environments,
    lie at risk of destruction due to plastic pollution. To enhance our
    community’s recycling efforts, we developed an informative guidebook that
    educates people on recycling rules, regulations, and best practices.
  </p>
  <p class="paragraph fade-in">
    This guidebook addresses common misconceptions, the significance of
    recycling, recycling methods, and provides tips and strategies to reduce
    plastic consumption as a whole in society. Once completed, we distributed
    our easy-to-use, printable recycling guide (included within the guidebook)
    to both students and teachers within our school. In order to achieve our
    goal of making the recycling guide as accessible as possible, we translated
    our guide into Hindi and Spanish, languages that are commonly spoken among
    people in our county. Additionally, we made copies of the guidebook
    available for borrowing at our school library, providing students with easy
    access to the resource. We also made it available at our local public
    library to share with the community beyond our school.
  </p>
  <p class="paragraph fade-in">
    Based on the feedback that we have received, the recycling guide was helpful
    in clearing up misunderstandings that many people had about recycling. In
    addition to an English version of our printable guide, we created a Spanish
    version and Hindi version in order to reach and educate as many people as
    possible.
  </p>
</div>
<br />
<div class="fade-in">
  <embed
    class="pdf-container"
    src="https://static.igem.wiki/teams/4651/wiki/igem-guidebook-2023.pdf"
    type="application/pdf"
  />
</div>
<br />
<!--images of recycling guide here-->
<div class="box fade-in">
  <h1 class="heading fade-in">Children's Book</h1>
  <hr class="fade-in" />
  <p class="paragraph fade-in">
    In order to further engage younger students, we wrote and illustrated a fun
    and educational children’s picture book designed to spark curiosity and
    introduce young readers to the exciting field of synthetic biology. We
    introduced the relationship between bacteriophages, bacteria, and plasmids
    through storytelling and accessible illustrations. Told through the
    perspective of Perry the Plasmid, it emphasizes the importance of resilience
    and problem-solving, making it an essential read for budding scientists and
    inquisitive minds. We wanted to help educate the next generation of
    scientists to explore and contribute to synthetic biology in their future.
  </p>
  <p class="paragraph fade-in">
    Several copies of this book were donated to our local library to increase
    its accessibility and reach in the community. We also publicized the book
    across multiple social media platforms, our school, and several public
    places. Additionally, we read the book aloud to groups of children to spread
    the word and educate them about the field. We hope to play a role in
    nurturing the young minds today that will shape the future of synthetic
    biology and contribute to the innovations in science.
  </p>
  <p class="paragraph fade-in">
    <a href="https://www.amazon.com/dp/B0CKNCGVTY">Book on Amazon</a>
  </p>
</div>
<!--possible put book pdf or images here-->
<div style="background-color: #C6EDC3" class="box fade-in">
  <h1 class="heading fade-in">Symposium and Recycling Webinar</h1>
  <hr class="fade-in" />
  <p class="paragraph fade-in">
    In order to reach a wider range of community members, like working
    professionals and other researchers, our team hosted a symposium in which we
    presented our project idea and our recycling guide. Our goal was to educate
    them on the importance of our project, as well as recycling. We recognize
    that most recycling guides are often difficult to comprehend, so we wanted
    to use this as an opportunity to simplify it!
  </p>
  <p class="paragraph fade-in">
    We received this feedback from an attendee: “This session helped me learn
    the important details of recycling. It surprised me that plastic bags do not
    go in recycling! Though I initially only knew a few basics, I was able to
    improve my knowledge.”
  </p>
</div>
{% endblock %}
