{% extends "layout.html" %} {% block title %}Future Directions{% endblock %} {%
block lead %}{% endblock %} {% block page_content %}

<script src="{{ url_for('static', filename = 'fade-in.js') }}"></script>

<div style="background-color: #dbf9fc" class="box fade-in">
  <h1 class="fade-in">Experimental Validation</h1>
  <hr class="fade-in" />
  <p class="fade-in">
    Our team is currently focusing on the detection of PET degradation, with the
    aim of assessing the environmental impact of discarded plastic products but
    also implementing a biosensor that can be used to find, engineer, or evolve
    enzymes capable of more efficiently breaking down PET, rather than simply
    relying on natural decomposition which may take 20-500 years. This would
    help monitor PET hydrolysis through terephthalic acid (TPA) detection and
    would be utilized by researchers to accurately quantify plastic degradation.
    We hope to incorporate this biosensor in the form of an accessible app
    involving machine learning allowing scientists to effortlessly access,
    quantify, and manipulate data related to PET degradation. Researchers can be
    empowered to make accurate conclusions, conduct in-depth investigations, and
    contribute significantly to the ongoing efforts to combat plastic pollution.
    Unfortunately, a big limitation to our project is the lack of accurate and
    reliable sensors that can be used. Our team is committed to filling this gap
    in our research. We are actively exploring various avenues to adapt accurate
    sensors that meet the requirements of our current biosensor system.
  </p>
</div>

<div class="box fade-in">
  <h1 class="fade-in">Implementation</h1>
  <hr class="fade-in" />
  <p class="wrap fade-in">
    This research, focused on developing a highly efficient biosensor for
    detecting terephthalic acid (TPA) degradation, holds significant promise for
    environmental conservation. PET plastics, widely used and slow to decompose,
    pose a substantial threat to our ecosystem and the environment in which we
    thrive. By implementing a biosensor and focusing on PET degradation
    detection, scientists can not only better monitor and optimize the breakdown
    of PET plastics but they can also harness it. They can use this PET
    degradation detection of advanced microbial systems designed to expedite
    plastic degradation. This innovative approach can make a huge difference and
    can alleviate the environmental burden of plastic waste. This can
    potentially pave the way for sustainable bio-based material production
    through enhanced PET recycling. Moreover, the biosensor's adaptability may
    extend to detecting TPA contamination in natural environments. This can
    empower scientists to identify and mitigate plastic pollution hotspots. This
    multi-faceted application of the biosensor demonstrates its potential as a
    powerful asset in the plastic pollution wars and can help preserve
    ecosystems. One of our main goals that we can achieve by utilizing this
    research is to be able to address the urgent global issue of plastic waste.
    This can create an impact in society and can be a tool in helping overcome
    the challenge of plastic pollution.
  </p>
</div>

<div style="background-color: #dbf9fc" class="box fade-in">
  <h1 class="fade-in">Testing Concerns</h1>
  <hr class="fade-in" />
  <p class="fade-in">
    Although the research is set to positively impact the environment, it is
    also crucial to ensure that the research itself does not harm the
    environment. This makes it critical to make sure that the chemicals or
    materials used in the analysis are carefully chosen in order to minimize
    negative ecological effects. Addressing and minimizing bias is essential for
    research that may not be representative of all types of plastic degradation.
    Most importantly, it should be ensured that the biosensor's results can be
    independently validated and reproduced by other researchers in order to
    avoid concerns about the accuracy and credibility of the research.
  </p>
</div>

{% endblock %}
