{% extends "layout.html" %}

{% block title %}PlastiFind{% endblock %}
{%block lead%}{% endblock %}

{% block page_content %}

<style>
  iframe.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe{
 width:840px;   
 height:472px;
 border-radius:50px;
}

</style>


<div>
  <img class="full-screen-width" src="https://static.igem.wiki/teams/4651/wiki/home.png">
</div>

<br>
<br>

<div class="text-center">
  <a href="https://2023.igem.wiki/dnhs-sandiego-ca/description"
      <button class="button" type="button" style="width:300px; height:100px">Learn More</button>
  </a>
</div>

<br>
<br>

<iframe title="DNHS-SanDiego-CA: Monitoring PET Hydrolysis (2023) - Project Promotion [English]" width="560" height="315" src="https://video.igem.org/videos/embed/dbc6752b-edee-4426-9317-5f6a7cafb35e" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>


{% endblock %}
