{% extends "layout.html" %} {% block title %}Human Practices{% endblock %} {% block
  lead %}{% endblock %} {% block page_content %}
  
  <div style="background-color: #C6EDC3" class="box fade-in">
      <h1 class="heading fade-in">Overview</h1>
      <hr class="fade-in" />
      <p class="paragraph fade-in">
          One of our aspects of human practices consisted of reaching out to 
          various professionals and people in our community to help us gauge 
          a better understanding of our project’s reach. Our project is meant 
          to detect TPA in order for the monitoring of PET degradation. The 
          stakeholders in our project include people in our local community 
          who frequent the beach, research professionals specializing in PET 
          degradation, and environmentalists. We reached out to a variety of 
          people to ensure we had representative data that allows us to gain a 
          greater understanding on PET degradation, and how the detection of 
          TPA will allow us to better monitor it, and the benefits it may bring. 
          All in all, through human practices, we hoped to create a viable solution 
          using synthetic biology in order to detect TPA to enable us to monitor 
          PET degradation. We wish to advocate for the health of our ecosystem by 
          informing the people in our community, and make a difference for generations 
          to come. 
      </p>
  </div>
  <div class="box fade-in">
      <h1 class="heading fade-in">Survey</h1>
      <hr class="fade-in" />
      <p class="paragraph fade-in">
          In the first part of our human practices, we created a survey, which 
          included questions about PET degradation, the impacts of it, plastic use, 
          and recycling. This survey was meant to assess how many people in our 
          community were truly aware of the harmful impacts of plastic, and the usage 
          of it in our communities. This was especially important to us as we do live 
          in the coastal city of San Diego, making the beach a frequent place for both 
          locals and tourists to visit, and it is often hit hard by the use of plastics. 
          (Further explained on our survey page)
      </p>
  </div>
  <div class="text-center">
      <a href="https://2023.igem.wiki/dnhs-sandiego-ca/survey"
          <button class="button" type="button" style="width:300px; height:100px">Survey</button>
      </a>
  </div>
  <br />
    <div style="background-color: #C6EDC3" class="box fade-in">
      <h1 class="heading fade-in">Expert Interviews</h1>
      <hr class="fade-in" />
      <p class="paragraph fade-in">
          In the second part of our human practices, we reached out to various professionals 
          in research areas pertaining to our project in order to gain their input on the 
          viability and practicality of our project. After talking with them, we gained more 
          insight on how plastics in the water may contribute to harm in our ecosystem, but also 
          the possible benefits of monitoring PET degradation. In addition, we were able to 
          understand the extent of PET’s harm, thus supporting the importance of our project. 
          We interviewed five experts in the field, Dr. Mark Pellet, Dr. Lara Khosla, Dr. Christopher Johnson, 
          Dr. Sonu Kumar, and Dr. Ramesh Jha, to get feedback on how to better improve our project and 
          make it more accessible for public use. We were advised on our scientific process by scientists 
          who have previously worked with mucK, guided by experts in computational modeling, and discussed the 
          applications of our research for the current issues surrounding plastic pollution in the community. 
          (More details on our attributions page)
      </p>
  </div>
  <br />
  <div class="text-center">
      <a href="https://2023.igem.wiki/dnhs-sandiego-ca/attributions"
          <button class="button" type="button" style="width:300px; height:100px">Attributions</button>
      </a>
  </div>

    <div class="box fade-in">
      <h1 class="heading fade-in">Education</h1>
      <hr class="fade-in" />
      <p class="paragraph fade-in">
          We developed a guidebook depicting the importance of recycling, as well as 
          outlining different methods. Our guidebook aims to emphasize recycling in daily 
          lives. This includes a printable, easy-to-use recycling guide which we distributed 
          throughout our community and school. In addition to this, our team published a 
          children’s book called “Perry the Plasmid” to educate future generations on synthetic 
          biology and plasmids in a fun, and interactive way. 
        </p>
      <p class="paragraph fade-in">
          Our team also put together a symposium for local community members. We presented our 
          project idea, as well as provided them with a useful recycling guide. Our goal was to 
          educate them on the importance of our project, as well as recycling. We recognize that 
          most recycling guides are often difficult to comprehend, so we wanted to use this as an 
          opportunity to simplify it!
        </p>
      <p class="paragraph fade-in">
          In addition to this, we hosted a summer camp to provide synthetic biology opportunities 
          to younger children. Our Forensic Summer Camp made learning biology fun for young kids, 
          they were able to conduct pH tests, identify missing powders using chemical properties, 
          and solubility tests. We aimed to provide them with an interactive lesson, allowing them 
          to explore this complex, fun field! You can view more about our efforts in educating our 
          community at our education tab:
        </p>
  </div>
        <div class="text-center">
          <a href="https://2023.igem.wiki/dnhs-sandiego-ca/education"
              <button class="button" type="button" style="width:300px; height:100px">Education</button>
          </a>
        </div>     
    {% endblock %}