{% extends "layout.html" %} {% block title %}Implementation{% endblock %} {%
block lead %}{% endblock %} {% block page_content %}

<script src="{{ url_for('static', filename = 'fade-in.js') }}"></script>

<div style="background-color: #dbf9fc" class="box fade-in">
  <h1 class="fade-in">Production</h1>
  <hr class="fade-in" />
  <p class="fade-in">
    Thankfully this year our team managed to send our research division as
    interns to Scripps Research Institute and work together closely with the
    Badran lab for two months. Lab members helped familiarize the research
    division with lab equipment and procedures and paid for all of the new parts
    our team used: sequencing of the various plasmids, any new primers, and
    more.
  </p>
</div>

<div class="box fade-in">
  <h1 class="fade-in">Challenges</h1>
  <hr class="fade-in" />
  <p class="wrap fade-in">
    After selecting our project, our team examined research from numerous
    published papers and from Scripps that was relevant to detecting TPA using
    plasmids. Our team found that many past attempts at detecting TPA or at
    degrading PET fell noticeably short. A main concern of previous biosensors
    was their relatively low dynamic range at roughly 6 to 7 fold at best. Our
    team tackled the challenge of trying to optimize this dynamic range by
    exploring and testing both old and new parts such as various TPA importers,
    different reporter genes, and a promoter that better responds to tpaR, a
    transcription factor, to try and develop a more responsive TPA biosensor.
  </p>
</div>

<div style="background-color: #dbf9fc" class="box fade-in">
  <h1 class="fade-in">End Users</h1>
  <hr class="fade-in" />
  <p class="fade-in">
    The end users for our project are mainly other biologists researching PET
    degradation and also environmental scientists as a whole. PET degradation is
    still a fresh topic, and extensive research is currently being done in order
    to find a more efficient pathway for breaking down PET rather than slowly
    having it decompose on its own or with the help of an inefficient enzymatic
    catalyst. We hope that our research assessing the degradation of PET can
    help discover information previously unknown about PET and its monomer
    components, which can be used in future research focused on finding ways to
    break down this plastic. Furthermore, our project of developing a biosensor
    for TPA can have a wide impact. If successful in producing a large dynamic
    range, we may eventually be able to provide environmental scientists with a
    more accurate and consistent tool to detect PET degradation if given the
    resources to do so, possibly aiding the advancement of a solution to the
    plastic problem. However, given the time frame of our project, our current
    goal mainly consists of the former, which is contributing to more
    foundational and future research in degrading PET.
  </p>
</div>

{% endblock %}
