{% extends "layout.html" %}

{% block title %}Parts{% endblock %}

{% block lead %}{% endblock %}

{% block page_content %}
<script src="{{ url_for('static', filename = 'fade-in.js') }}"></script>

<div style="background-color: #C6EDC3" class="box fade-in">
  <h1 class="fade-in">Overview</h1>
  <hr class="fade-in" />
  <p class="fade-in">
    Our team used a variety of different parts by creating new primers, using plasmids and parts from other research papers, and altering our current parts. Our team contributed a total of 31 different parts.

  </p>
</div>

<div class="box fade-in">
  <h1 class="fade-in">Parts Table</h1>
  <hr class="fade-in" />
  <div class="row mt-4">
    <div class="col">
      <table class="table table-hover fade-in">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Designers</th>
            <th scope="col">Length</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651020"
                >BBa_K4651020</a
              >
            </td>
            <td>Primer</td>
            <td>Forward primer for MucK</td>
            <td>David Lanster and Grace Wang</td>
            <td>54</td>
          </tr>
          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651021"
                >BBa_K4651021</a
              >
            </td>
            <td>Primer</td>
            <td>Reverse primer for MucK</td>
            <td>David Lanster and Grace Wang</td>
            <td>42</td>
          </tr>
          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651022"
                >BBa_K4651022</a
              >
            </td>
            <td>Primer</td>
            <td>Forward primer for rest of MucK plasmid</td>
            <td>David Lanster and Grace Wang</td>
            <td>37</td>
          </tr>
          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651023"
                >BBa_K4651023</a
              >
            </td>
            <td>Primer</td>
            <td>Reverse primer to linearize IPTG-inducible construct for cloning in MucK</td>
            <td>David Lanster and Grace Wang</td>
            <td>36</td>
          </tr>
          <!-- Add more rows for the remaining data -->
          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651025"
                >BBa_K4651025</a
              >
            </td>
            <td>Primer</td>
            <td>Forward primer to alter -10 and -35 sigma factor on Tpar-Regulated Promoter to match pTPA3</td>
            <td>David Lanster and Jason Gao</td>
            <td>20</td>
          </tr>
          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651025"
                >BBa_K4651025</a
                
              >
            </td>
            <td>Primer</td>
            <td>Reverse primer to alter -10 and -35 sigma factor on Tpar-Regulated Promoter to match pTPA3</td>
            <td>David Lanster and Jason Gao</td>
            <td>60</td>
          </tr>
          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651026"
                >BBa_K4651026</a
                
                
              >
            </td>
            <td>Primer</td>
            <td>Forward primer that truncates 3’ end of original tpaA-tpaR intergenic, bi-directional promoter to remove endogenous RBS</td>
            <td>David Lanster and Jason Gao</td>
            <td>38</td>
          </tr>
          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651027"
                >BBa_K4651027</a
                
                
              >
            </td>
            <td>Primer</td>
            <td>Reverse primer that truncates 3’ end of original tpaA-tpaR intergenic, bi-directional promoter to remove endogenous RBS
              <td>David Lanster and Jason Gao</td>
              <td>20</td>
          </tr>
          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651028"
                >BBa_K4651028</a
                
                
              >
            </td>
            <td>Primer</td>
            <td>
              Forward primer to linearize pIGEM1 (tpaR plasmid)
              <td>David Lanster</td>
              
              <td>29</td>
          </tr>
          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651029"
                >BBa_K4651029 </a
  
              >
            </td>
            <td>Primer</td>
            <td>Reverse primer for to linearize pIGEM1 (tpaR plasmid)</td>
            <td>David Lanster and Jason Gao</td>
            <td>37</td>
          </tr>
          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651002"
                >BBa_K4651002 </a
  
              >
            </td>
            <td>Reporter</td>
            <td>Creates scarlet fluorescent signal</td>
            <td>Ahmed Badran</td>
            <td>696</td>
          </tr>

          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651030"
                >BBa_K4651030 </a
  
              >
            </td>
            <td>Primer</td>
            <td>Forward primer for pTPA3, anneals to DL1041</td>
            <td>David Lanster and Jason Gao</td>
            <td>60</td>
          </tr>

          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651031"
                >BBa_K4651031 </a
  
              >
            </td>
            <td>Primer</td>
            <td>Reverse primer for pTPA3, anneals to DL1040</td>
            <td>David Lanster and Jason Gao</td>
            <td>60</td>
          </tr>

          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651001"
                >BBa_K4651001 </a
  
              >
            </td>
            <td>Reporter</td>
            <td>Creates green fluorescent signal
              Ex: 487 nm/Em: 509 nm
            </td>
            <td>Ahmed Badran</td>
            <td>717</td>
          </tr>

          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651003"
                >BBa_K4651003</a
              >
            </td>
            <td>Antibiotic Resistance Marker</td>
            <td>Antibiotic resistance marker for carbenicillin</td>
            <td>Badran lab collection</td>
            <td>861</td>
          </tr>
          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651004"
                >BBa_K4651004</a
              >
            </td>
            <td>Promoter</td>
            <td>Drives expression for bla (AmpR) antibiotic resistance marker</td>
            <td>Badran lab collection</td>
            <td>195</td>
          </tr>
          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651005"
                >BBa_K4651005</a
              >
            </td>
            <td>Origin of replication</td>
            <td>Works together with pSC101 to make copies of plasmid</td>
            <td>Badran lab collection</td>
            <td>951</td>
          </tr>
          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651006"
                >BBa_K4651006</a
              >
            </td>
            <td>Origin of replication</td>
            <td>Works together with RepA to make copies of plasmid</td>
            <td>Badran lab collection</td>
            <td>746</td>
          </tr>
          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651007"
                >BBa_K4651007</a
              >
            </td>
            <td>Promoter</td>
            <td>Drives expression of mEmerald or mScarlet, and TpaR</td>
            <td>David Lanster and Ahmed Badran taken from reference 2</td>
            <td>164</td>
          </tr>
          <tr>
            <td>
              <a
                href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651008"
                >BBa_K4651008</a
              >
            </td>
            <td>Transcription Factor</td>
            <td>Starts transcription for both plasmids</td>
            <td>David Lanster and Ahmed Badran taken from reference 2</td>
            <td>735</td>
          </tr>
         
          
        
                   <tr>
                      <td>
                        <a
                          href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651009"
                          >BBa_K4651009</a
                        >
                      </td>
                      <td>Terminator</td>
                      <td>Ends transcription</td>
                      <td>Badran lab collection</td>
                      <td>432</td>
                    </tr>
                    <tr>
                      <td>
                        <a
                          href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651010"
                          >BBa_K4651010</a
                        >
                      </td>
                      <td>Importer</td>
                      <td>Imports TPA into plasmid</td>
                      <td>Ahmed Badran taken from reference 2</td>
                      <td>1380</td>
                    </tr>
                    <tr>
                      <td>
                        <a
                          href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651011"
                          >BBa_K4651011</a
                        >
                      </td>
                      <td>Importer</td>
                      <td>Imports TPA into plasmid</td>
                      <td>Ahmed Badran, taken from reference 1</td>
                      <td>1242</td>
                    </tr>
                    <tr>
                      <td>
                        <a
                          href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651012"
                          >BBa_K4651012</a
                        >
                      </td>
                      <td>Antibiotic Resistance Marker</td>
                      <td>Antibiotic resistance marker for spectinomycin</td>
                      <td>Badran lab collection</td>
                      <td>792</td>
                    </tr>
                    <tr>
                      <td>
                        <a
                          href="http://parts.igem.org/wiki/index.php?title=Part: BBa_K4651013"
                          > BBa_K4651013</a
                        >
                      </td>
                      <td>Promoter</td>
                      <td>Drives expression of MucK and TpaK</td>
                      <td>Badran lab collection</td>
                      <td>139</td>
                    </tr>
                    <tr>
                      <td>
                        <a
                          href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651014"
                          >BBa_K4651014</a
                        >
                      </td>
                      <td>Origin of replication</td>
                      <td>Works with ColE1 to make copies of plasmid</td>
                      <td>Badran lab collection</td>
                      <td>192</td>
                    </tr>
                    <tr>
                      <td>
                        <a
                          href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651015"
                          >BBa_K4651015</a
                        >
                      </td>
                      <td>Origin of replication</td>
                      <td>Works with Rop to make copies of plasmid</td>
                      <td>Badran lab collection</td>
                      <td>589</td>
                    </tr>
                    <tr>
                      <td>
                        <a
                          href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651016"
                          >BBa_K4651016</a
                        >
                      </td>
                      <td>Protein</td>
                      <td>Protein that controls MucK</td>
                      <td>Badran lab collection</td>
                      <td>1083</td>
                    </tr>
                    
                    <tr>
                      <td>
                        <a
                          href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651017"
                          >BBa_K4651017</a
                        >
                      </td>
                        <td>Promoter</td>
                        <td>Promoter taken from reference 1</td>
                        <td>David Lanster, taken from reference 1</td>
                        <td>111</td>
                      </tr>
                      <tr>
                        <td>
                          <a
                            href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651018"
                            >BBa_K4651018</a
                          >
                        </td>
                        <td>Promoter</td>
                        <td>Modified TpaR-Regulated Promoter to be truncated to remove native RBS</td>
                        <td>David Lanster and Jason Gao</td>
                        <td>153</td>
                      </tr>
                      <tr>
                        <td>
                          <a
                            href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K4651019"
                            >BBa_K4651019</a
                          >
                        </td>
                        <td>Promoter</td>
                        <td>Modified TpaR-Regulated Promoter to have -10 and -35 sigma factor regions changed to match pTPA3</td>
                        <td>David Lanster and Jason Gao</td>
                        <td>163</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>         
<div style="background-color: #C6EDC3" class="box fade-in">
  <h1 class="fade-in">References</h1>
  <hr class="fade-in" />
  <p class="fade-in">
    Pardo I, Jha RK, Bermel RE, Bratti F, Gaddis M, McIntyre E, Michener W, Neidle EL, Dale T, Beckham GT, Johnson CW. Gene amplification, laboratory evolution, and biosensor screening reveal MucK as a terephthalic acid transporter in Acinetobacter baylyi ADP1. Metab Eng. 2020 Nov;62:260-274. doi: 10.1016/j.ymben.2020.09.009. Epub 2020 Oct 1. PMID: 32979486.
  </p>
  <p class="fade-in">
    Hara H, Eltis LD, Davies JE, Mohn WW. Transcriptomic analysis reveals a bifurcated terephthalate degradation pathway in Rhodococcus sp. strain RHA1. J Bacteriol. 2007 Mar;189(5):1641-7. doi: 10.1128/JB.01322-06. Epub 2006 Dec 1. PMID: 17142403; PMCID: PMC1855752.
            
  </p>
</div>
  {% endblock %}

            
