{% extends "layout.html" %} {% block title %}Proof of Concept{% endblock %} {%
block lead %}{% endblock %} {% block page_content %}

<style>
  div.image-gallery {
    display: block;
    background-color: #ffffff;
  }
</style>
<script src="{{ url_for('static', filename = 'fade-in.js') }}"></script>

<div style="background-color: #dbf9fc" class="box fade-in">
  <h1 class="heading fade-in">Goals</h1>
  <hr class="fade-in" />
  <p class="paragraph fade-in">
    To design and create a plasmid that, in the presence of TPA, will create a
    detectable fluorescent signal. Since TPA is a monomer product of the
    degradation of PET, optimizing the dynamic range of this signal will allow
    us to accurately measure PET degradation.
  </p>
</div>

<div class="box fade-in">
  <h1 class="heading fade-in">Plasmid Design</h1>
  <hr class="fade-in" />
  <p class="paragraph fade-in">
    Our team tested a variety of parts to design, build, and test four different
    plasmids. We designed our constructs based on previous data from the Badran
    lab that showed only a modest increase in fluorescent signal when TPA was
    titrated into cell culture. Each plasmid and assay are described below.
  </p>
  <p class="paragraph fade-in">
    Initially, our plan was to experiment with MucK, found in reference 1, as a
    new importer to test if the importer previously used, tpaK, was limiting or
    non-functional. We also decided to test the effects different fluorescent
    reporters might have, and compared mScarlet to mEmerald to see which would
    produce a better signal. To do this, our team conducted an assay, testing
    combinations of mucK importer plasmid with reporter plasmids encoding either
    mScarlet or mEmerald.
  </p>
  <img
    src="https://static.igem.wiki/teams/4651/wiki/design/design1.jpg"
    class="center fade-in"
    width="50%"
  />
  <br />
  <p class="paragraph fade-in">
    Above is plasmid pIGEM1. This is the plasmid map of the first plasmid our
    team made. It has the antibiotic resistance marker bla (AmpR) for
    carbenicillin to allow selection for the plasmids that have been correctly
    constructed, the mEmerald fluorescent protein, TpaR-Regulated Promoter
    (found in reference 2) as the promoter driving expression of TpaR and
    mEmerald, the origin of replication RepA and pSC101 to allow for plasmid
    propogation, transcription factor of RHA1 or tpaR (found in reference 2),
    and rrnB1 terminator. The part our team was interested in for this plasmid
    was mEmerald.
  </p>
  <img
    src="https://static.igem.wiki/teams/4651/wiki/design/design2.jpg"
    class="center fade-in"
    width="50%"
  />
  <br />
  <p class="paragraph fade-in">
    Above is plasmid pAB132e18 and is very similar to pIGEM1. It has the same
    antibiotic resistance marker bla (AmpR) for carbenicillin, promoter of
    TpaR-Regulated Promoter, origin of replication RepA and pSC101,
    transcription factor RHA1 or tpaR, and terminator of rrnB1. The key
    difference is instead of mEmerald, the plasmid has mScarlet, which is the
    part our team is interested in.
  </p>
  <img
    src="https://static.igem.wiki/teams/4651/wiki/design/design3.jpg"
    class="center fade-in"
    width="50%"
  />
  <br />
  <p class="paragraph fade-in">
    Above is plasmid pIGEM2. This plasmid has MucK as its importer of TPA, ColE1
    and Rop as its origin of replication, protein lacI and promoter pLacZ to
    control MucK, and antibiotic resistance marker aadA to confer spectinomycin
    resistance. The part of interest here is importer MucK. Below are graphs of
    the results from the first assay. These graphs and their respective data
    tables can also be found in the lab journal.
  </p>
  <img
    src="https://static.igem.wiki/teams/4651/wiki/design/design4.jpg"
    class="center fade-in"
    width="50%"
  />
  <br />
  <p class="caption fade-in">
    <em> Graph 1: Average mScarlet Signal/OD for all 4 clones </em>
  </p>
  <img
    src="https://static.igem.wiki/teams/4651/wiki/design/design5.jpg"
    class="center fade-in"
    width="50%"
  />
  <br />
  <p class="caption fade-in">
    <em> Graph 2: Average mEmerald Signal/OD for all 4 clones </em>
  </p>
  <p class="paragraph fade-in">
    From these graphs, our team noted that the largest fold increase was roughly
    2.25 for mScarlet with MucK and roughly 1.77 for mEmerald with MucK. While
    these increases are noticeable, it is not large enough for a robust
    biosensor. Furthermore, the background signal and how it increases in signal
    despite the absence of IPTG, a small molecule that binds to pLacZ to allow
    expression of MucK and thus TPA detection, does create some concern.
    Therefore, our team looked at other potential parts that could be inhibiting
    TPA detection. At this time, our team noticed that a promoter called pTPA3,
    also found in reference 1, worked decently well. Our team compared pTPA3 to
    TpaR-Regulated Promoter and found three modifications that could heighten
    our fold-increase: remove a native RBS site found in the TpaR-Regulated
    Promoter, alter the -35 and -10 sigma factor sections of the TpaR-Regulated
    Promoter sequence to match that of pTPA3, and entirely replace
    TpaR-Regulated Promoter with pTPA3. Our team then decided to conduct a
    second assay to compare these three modifications. Since the importer and
    reporter had to be kept constant in this assay and mEmerald with MucK and
    mScarlet with MucK performed similarly, our team just chose to use mEmerald
    with MucK. Since mEmerald came from pIGEM1, the first modification (removing
    the native RBS site) was called iGEM1a, the second modification (altering
    -35 and -10 sigma factors) was called iGEM1b, and the third modification
    (replace with pTPA3) was called iGEM1c. All the sequences and sequence
    changes can be seen below. In the parts page, iGEM1a was renamed
    TpaR-Regulated Promoter1.1, iGEM1b was renamed TpaR-Regulated Promoter1.2,
    and iGEM1c is pTPA3.
  </p>
  <p class="paragraph fade-in">
    Below is the sequence of TpaR-Regulated Promoter (labeled by the purple
    bar), which is divergent and bifunctional.
  </p>
  <img
    src="https://static.igem.wiki/teams/4651/wiki/design/design6.jpg"
    class="center fade-in"
    width="50%"
  />
  <br />
  <p class="paragraph fade-in">
    Below is the sequence for modification iGEM1a. Notice the missing “aggaga”
    (top) and “tcctct” (bottom) from the original TpaR-Regulated Promoter at the
    end of the sequence.
  </p>
  <img
    src="https://static.igem.wiki/teams/4651/wiki/design/design7.jpg"
    class="center fade-in"
    width="50%"
  />
  <br />
  <p class="paragraph fade-in">
    Below is the sequence for modification iGEM1b. Notice how the original -35
    sigma factor of “ttgaca” (top) and “aactgt” (bottom) and -10 sigma factor of
    “cttaat” (top) and “gaatta” (bottom) were changed into the pTPA3 -35 sigma
    factor of “GTACAC” (top) and “CATGTG” (bottom) and -10 sigma factor of
    “TACAAT” (top) and “ATGTTA” (bottom).
  </p>
  <img
    src="https://static.igem.wiki/teams/4651/wiki/design/design8.jpg"
    class="center fade-in"
    width="50%"
  />
  <br />
  <p class="paragraph fade-in">
    Below is the sequence for modification iGEM1c. Notice how the entire
    TpaR-Regulated Promoter is gone and pTPA3 takes it place instead.
  </p>
  <img
    src="https://static.igem.wiki/teams/4651/wiki/design/design9.jpg"
    class="center fade-in"
    width="50%"
  />
  <br />
  <p class="paragraph fade-in">
    Below are graphs from the second assay. These graphs and their respective
    data tables can also be found in the lab journal.
  </p>
  <img
    src="https://static.igem.wiki/teams/4651/wiki/design/design10.jpg"
    class="center fade-in"
    width="50%"
  />
  <br />
  <p class="caption fade-in">
    <em>
      Graph 3: Average Fluorescence/OD for Each Modification at Various TPA
      Concentrations with IPTG
    </em>
  </p>
  <img
    src="https://static.igem.wiki/teams/4651/wiki/design/design11.jpg"
    class="center fade-in"
    width="50%"
  />
  <br />
  <p class="caption fade-in">
    <em>
      Graph 4: Average Fluorescence/OD for Each Modification at Various TPA
      Concentrations without IPTG
    </em>
  </p>
  <p class="paragraph fade-in">
    In Graph 3 and Graph 4 all 3 modifications are being compared to each other
    with and without IPTG. In the graph without IPTG, the signal remains
    relatively constant for all modifications, but modification iGEM1b did
    exhibit some increase in signal. In the graph with IPTG, the signal for
    modification iGEM1a essentially did not change and modification iGEM1c
    decreased, but modification iGEM1b clearly exhibited a noticeable increase
    in signal which is what our team was hoping for.
  </p>
  <img
    src="https://static.igem.wiki/teams/4651/wiki/design/design12.jpg"
    class="center fade-in"
    width="50%"
  />
  <br />
  <p class="caption fade-in">
    <em>
      Graph 5: Comparing Signal of iGEM1b with and without IPTG at Various TPA
      Concentrations
    </em>
  </p>
  <p class="paragraph fade-in">
    This graph focuses on only modification iGEM1b with and without IPTG. A
    clear dose response to increasing TPA concentrations and an IPTG-dependent
    boost in the signal can both be observed, suggesting that MucK is
    functional. However, the fold-increase comes out to roughly 1.82, which is
    noticeable but not as high as our team would have hoped for it to be.
  </p>
  <img
    src="https://static.igem.wiki/teams/4651/wiki/design/design13.jpg"
    class="center fade-in"
    width="50%"
  />
  <br />
  <p class="caption fade-in">
    <em>
      Graph 6: Comparison between mEmerald From First Assay and iGEM1b From
      Second Assay
    </em>
  </p>
  <p class="paragraph fade-in">
    TThis graph compares the second assay to the first assay. Both “mEmerald
    Assay” and “iGEM1b assay” share the same plasmid parts but differ in the
    promoter, with the former having the TpaR-Regulated Promoter and the latter
    having the altered -35 and -10 sigma factor. From this graph, it can be seen
    that the modification did improve the fold-increase, as the first assay had
    a fold-increase of roughly 1.77 and the second has one of roughly 1.82;
    however, these values for a biosensor are still not the most ideal. Beyond
    fold increase, the modification also noticeably widened the gap between the
    plasmids with and without IPTG, which was definitely something our team was
    hoping to see.
  </p>
</div>
<div style="background-color: #dbf9fc" class="box fade-in">
  <h1 class="heading fade-in">References</h1>
  <hr class="fade-in" />
  <p class="paragraph fade-in">
    [1] Pardo I, Jha RK, Bermel RE, Bratti F, Gaddis M, McIntyre E, Michener W,
    Neidle EL, Dale T, Beckham GT, Johnson CW. Gene amplification, laboratory
    evolution, and biosensor screening reveal MucK as a terephthalic acid
    transporter in Acinetobacter baylyi ADP1. Metab Eng. 2020 Nov;62:260-274.
    doi: 10.1016/j.ymben.2020.09.009. Epub 2020 Oct 1. PMID: 32979486.
  </p>
  <p class="paragraph fade-in">
    [2] Hara H, Eltis LD, Davies JE, Mohn WW. Transcriptomic analysis reveals a
    bifurcated terephthalate degradation pathway in Rhodococcus sp. strain RHA1.
    J Bacteriol. 2007 Mar;189(5):1641-7. doi: 10.1128/JB.01322-06. Epub 2006 Dec
    1. PMID: 17142403; PMCID: PMC1855752.
  </p>
</div>

{% endblock %}
