/html{
    scroll-behavior: smooth;
    align-self: start;
    zoom: 75%;
  }
  @font-face {
    font-family: myFirstFont;
    src: url(https://static.igem.wiki/teams/4485/wiki/wiki-items/joannasansnovalight.ttf);
  }
  
  body{
    background: #fff;
    color: #01172F;
    contain: paint;
  }
  
  
  /* HEADER */
  .header-banner-top .primary-wrapper {
    margin: 0 auto;
    max-width: 900px;
  
  }
  .header-banner-top .hidden {
    display: none;
  }
  
  .header-banner-top .mobile-menu-box,
  .header-banner-top .mobile-menu-label {
    display: none;
  }
  .header-banner-top .banner {
    position: relative;
  }
  
  .header-banner-top {
    text-align: center;
  }
  
  .header-banner-top .banner {
    background-color: #01172F;
  }
  
  .header-banner-top .banner h1 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 52px;
    margin: 0 0 20px;
  }
  
  .header-banner-top .banner .banner-image {
    position: relative;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .header-banner-top .banner .primary-wrapper{
    position: relative;
    font-family: myFirstFont;
    padding-top: 150px;
    padding-bottom: 25px;
    color: #fff;
    font-size: 52px;
  }
  
  .header-banner-top .banner .primary-wrapper h1{
    letter-spacing: 3px;
    font-weight: 300;
    display: inline-block;
    text-transform: uppercase;
    animation-duration: 2s;
    animation-fill-mode: both;
  }
  
  .header-banner-top .banner .primary-wrapper h1 span {
    letter-spacing: 3px;
    font-weight: 300;
    display: inline-block;
    opacity: 0;
    text-transform: uppercase;
    animation-duration: 1.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition-timing-function: ease-out;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(1) {
    animation-delay: 0.2s;
    animation-name: fadeInLeftHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(2) {
    animation-delay: 0.4s;
    animation-name: fadeInLeftHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(3) {
    animation-delay: 0.6s;
    animation-name: fadeInLeftHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(4) {
    animation-delay: 0.8s;
    animation-name: fadeInLeftHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(5) {
    animation-delay: 1s;
    animation-name: fadeInLeftHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(6) {
    animation-delay: 1.2s;
    animation-name: fadeInLeftHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(7) {
    animation-delay: 1.4s;
    animation-name: fadeInLeftHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(8) {
    animation-delay: 1.6s;
    animation-name: fadeInLeftHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(9) {
    animation-delay: 1.8s;
    animation-name: fadeInLeftHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(21) {
    animation-delay: 0s;
    animation-name: fadeInRightHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(20) {
    animation-delay: 0.2s;
    animation-name: fadeInRightHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(19) {
    animation-delay: 0.4s;
    animation-name: fadeInRightHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(18) {
    animation-delay: 0.6s;
    animation-name: fadeInRightHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(17) {
    animation-delay: 0.8s;
    animation-name: fadeInRightHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(16) {
    animation-delay: 1s;
    animation-name: fadeInRightHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(15) {
    animation-delay: 1.2s;
    animation-name: fadeInRightHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(14) {
    animation-delay: 1.4s;
    animation-name: fadeInRightHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(13) {
    animation-delay: 1.6s;
    animation-name: fadeInRightHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(12) {
    animation-delay: 1.8s;
    animation-name: fadeInRightHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(11) {
    animation-delay: 2s;
    animation-name: fadeInRightHeader;
  }
  .header-banner-top .banner .primary-wrapper h1 span:nth-child(10) {
    animation-delay: 2.2s;
    animation-name: fadeInRightHeader;
  }
  
  
  .header-banner-top .banner .site-tagline {
    color: #aaa;
    letter-spacing: 1px;
    font-size: 18px;
    margin: 0 0%;
    animation-delay: 1.25s;
    animation-duration: 2s;
    animation-fill-mode: both;
  }
  
  .fadeInBottom {
    animation-name: fadeInBottom;
  }
  
  @keyframes fadeInRightHeader {
    0% {
      opacity: 0;
      transform: translate3d(10%, 30%, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInLeftHeader {
    0% {
      opacity: 0;
      transform: translate3d(-10%, -30%, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
    }
  }
  
  /*MAIN CONTENT*/
  .box{
    top: 0;
    width: 100%;
  }
  .page-content{
    animation-delay: 1.5s;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
  }
  .page-content h1{
    font-size: 32px;
    padding: 0 0 0 24%;
    line-height: 2;
    column-span: all;
  }
  .page-content .lead-title-eng{
    font-size: 32px;
    padding: 0 0 0 6.5%;
    line-height: 2;
    column-span: all;
  }
  .page-content .lead-title-desc{
    font-size: 32px;
    padding: 0 0 0 8%;
    line-height: 2;
    column-span: all;
  }
  .page-content .lead-title{
    font-size: 32px;
    padding: 0 0 0 7.5%;
    line-height: 2;
    column-span: all;
  }
  .page-content .lead-title-proof{
    font-size: 32px;
    padding: 0 0 0 6.5%;
    line-height: 2;
    column-span: all;
  }
  .page-content .lead-title-cont{
    font-size: 32px;
    padding: 0 0 0 8.25%;
    line-height: 2;
    column-span: all;
  }
  .page-content .lead-title-imp{
    font-size: 32px;
    padding: 0 0 0 9%;
    line-height: 2;
    column-span: all;
  }
  .page-content .lead-title-res{
    font-size: 32px;
    padding: 0 0 0 12%;
    line-height: 2;
    column-span: all;
  }
  .page-content .lead-title-edu{
    font-size: 32px;
    padding: 0 0 0 3%;
    line-height: 2;
    column-span: all;
  }
  .page-content .lead-title-hard{
    font-size: 32px;
    padding: 0 0 0 10%;
    line-height: 2;
    column-span: all;
  }
  .page-content h2{
    font-size: 24px;
    padding: 0 12% 0 24%;
    line-height: 2;
  }
  .page-content p{
    font-size: 18px;
    padding: 1% 12% 2% 24%;
    line-height: 2;
  
  }
  .page-content .page-list{
    font-size: 16px;
    column-count: 2;
    padding: 0.5% 12% 0.5% 24%;
    line-height: 2;
  }
  .page-content .ppt{
    padding: 1% 0% 1% 32%;
    width: 75%;
  }
  .fig{
    padding: 0 28% 0 32%;
    height: 100%;
    width: 100%;
  }
  .fig-cap{
    margin-left: 6%;
    font-size: 16px;
    text-align: center;
  }
  .figure{
    width: 65%;
    padding: 0;
  }
  .fadeInLeft{
    animation-name: fadeInLeft;
  }
  .toc{
    float: left;
    display: inline-table;
    max-width: 332px;
    top: 10%;
    left: 2%;
    position: sticky;
    height: 100%;
  }
  .toc-body {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .toc_item {
    display: flex;
    padding: 1rem;
  }
  .table{
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .toc_content {
    background: linear-gradient(to bottom left, #127475 40%, #77A6B6 100%);
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
    font-size: 24px;
    padding: 0 12% 0 10%;
    line-height: 2;
  }
  .toc_text{
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    padding: 0 12% 0 12%;    
    font-weight: 400;
  }
  .toc_text_2{
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    padding: 0 12% 0 16%;    
    font-weight: 400;
  }
  
  /* LANDING PAGE */
  .number{
    font-size: 164px;
    font-weight: 200;
    text-align: center;
    margin-top: 0%;
  }
  .land-text{
    text-align: center;
    font-size: 32px;
    padding-bottom: 10%;
    margin-top: 0%;
  }
  .land-figure1{
    width: 95%;
    height: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-name: fadeInBottom;
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-5%);
    }
    to {
      opacity: 1;
    }
  }
  .blog-slider {
       width: 95%;
       position: relative;
       max-width: 800px;
       margin: auto;
       background: #fff;
       box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
       padding: 25px;
       border-radius: 25px;
       height: 400px;
       transition: all 0.3s;
     padding-top: 4%;
     padding-bottom: 4%;
  }
   @media screen and (max-width: 992px) {
       .blog-slider {
           max-width: 680px;
           height: 400px;
      }
  }
   @media screen and (max-width: 768px) {
       .blog-slider {
           min-height: 500px;
           height: auto;
           margin: 180px auto;
      }
  }
   @media screen and (max-height: 500px) and (min-width: 992px) {
       .blog-slider {
           height: 350px;
      }
  }
   .blog-slider__item {
       display: flex;
       align-items: center;
  }
   @media screen and (max-width: 768px) {
       .blog-slider__item {
           flex-direction: column;
      }
  }
   .blog-slider__item.swiper-slide-active .blog-slider__img img {
       opacity: 1;
       transition-delay: 0.3s;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__img2 img {
       opacity: 1;
       transition-delay: 0.3s;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__content > * {
       opacity: 1;
       transform: none;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
       transition-delay: 0.3s;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
       transition-delay: 0.4s;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
       transition-delay: 0.5s;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
       transition-delay: 0.6s;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
       transition-delay: 0.7s;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
       transition-delay: 0.8s;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
       transition-delay: 0.9s;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
       transition-delay: 1s;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
       transition-delay: 1.1s;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
       transition-delay: 1.2s;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
       transition-delay: 1.3s;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
       transition-delay: 1.4s;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
       transition-delay: 1.5s;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
       transition-delay: 1.6s;
  }
   .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
       transition-delay: 1.7s;
  }
   .blog-slider__img {
       width: 300px;
       flex-shrink: 0;
       height: 300px;
       background-image: linear-gradient(147deg, #01172F 0%, #127475 74%);
       box-shadow: 4px 13px 30px 1px rgba(1, 23, 47, 0.2);
       border-radius: 20px;
       transform: translateX(-80px);
       overflow: hidden;
  }
   .blog-slider__img2 {
       width: 500px;
     height: 500px;
       flex-shrink: 0;
       background-image: linear-gradient(147deg, #01172F 0%, #127475 74%);
       box-shadow: 4px 13px 30px 1px rgba(1, 23, 47, 0.2);
       border-radius: 20px;
       overflow: hidden;
         object-fit: contain;
     margin-left: 17%;
  }
   .blog-slider__img:after {
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       border-radius: 20px;
       opacity: 0.2;
  }
   .blog-slider__img2:after {
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       border-radius: 20px;
       opacity: 0.2;
  }
   .blog-slider__img img {
       width: 100%;
       height: 100%;
       object-fit: contain;
       display: block;
       opacity: 0;
       border-radius: 20px;
       transition: all 0.3s;
  }
   .blog-slider__img2 img {
       width: 100%;
       height: 100%;
       object-fit: contain;
       display: block;
       opacity: 1;
       border-radius: 20px;
       transition: all 0.3s;
  }
   @media screen and (max-width: 768px) {
       .blog-slider__img {
           transform: translateY(-50%);
           width: 90%;
      }
  }
   @media screen and (max-width: 576px) {
       .blog-slider__img {
           width: 95%;
      }
  }
   @media screen and (max-height: 500px) and (min-width: 992px) {
       .blog-slider__img {
           height: 270px;
      }
  }
  @media screen and (max-width: 768px) {
       .blog-slider__img2 {
           transform: translateY(-50%);
           width: 90%;
      }
  }
   @media screen and (max-width: 576px) {
       .blog-slider__img2 {
           width: 95%;
      }
  }
   @media screen and (max-height: 500px) and (min-width: 992px) {
       .blog-slider__img2 {
           height: 270px;
      }
  }
   .blog-slider__content {
       padding-right: 25px;
  }
   @media screen and (max-width: 768px) {
       .blog-slider__content {
           margin-top: -80px;
           text-align: center;
           padding: 0 30px;
      }
  }
   @media screen and (max-width: 576px) {
       .blog-slider__content {
           padding: 0;
      }
  }
   .blog-slider__content > * {
       opacity: 0;
       transform: translateY(25px);
       transition: all 0.4s;
  }
   .blog-slider__code {
       color: #127475;
       margin-bottom: 15px;
       display: block;
       font-weight: 500;
     font-size: 12px;
  }
   .blog-slider__title {
       font-size: 24px;
       font-weight: 700;
       color: #0d0925;
       margin-bottom: 20px;
  }
   .blog-slider__text {
       color: #01172F;
       margin-bottom: 30px;
       line-height: 1.5em;
     font-size: 16px;
  }
  
   @media screen and (max-width: 576px) {
       .blog-slider__button {
           width: 100%;
      }
  }
   .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
       bottom: 10px;
       left: 0;
       width: 100%;
  }
   .blog-slider__pagination {
       position: absolute;
       z-index: 21;
       right: 20px;
       width: 11px !important;
       text-align: center;
       left: auto !important;
       top: 50%;
       bottom: auto !important;
       transform: translateY(-50%);
  }
   @media screen and (max-width: 768px) {
       .blog-slider__pagination {
           transform: translateX(-50%);
           left: 50% !important;
           top: 205px;
           width: 100% !important;
           display: flex;
           justify-content: center;
           align-items: center;
      }
  }
   .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
       margin: 8px 0;
  }
   @media screen and (max-width: 768px) {
       .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
           margin: 0 5px;
      }
  }
   .blog-slider__pagination .swiper-pagination-bullet {
       width: 11px;
       height: 11px;
       display: block;
       border-radius: 10px;
       background: #062744;
       opacity: 0.2;
       transition: all 0.3s;
  }
   .blog-slider__pagination .swiper-pagination-bullet-active {
       opacity: 1;
       background: #127475;
       height: 30px;
       box-shadow: 0px 0px 20px rgba(1, 23, 47, 0.3);
  }
   @media screen and (max-width: 768px) {
       .blog-slider__pagination .swiper-pagination-bullet-active {
           height: 11px;
           width: 30px;
      }
  }
  .pdf{
    width: 65%;
    padding: 0 0 0 40%;
  }
  .extra-space{
    width: 100%;
    height: 16%;
  }
  
  /*PROOF*/
  .imgContainer{
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-left: 24%;
  }
  .imgContainer2{
    float: left;
    width: 33.33%;
    padding: 5px;
    margin-left: 0%;
  }
  .imgContainer3{
    float: left;
    width: 36%;
    padding: 5px;
    margin-left: 24%;
  }
  .imgContainer4{
    float: left;
    width: 36%;
    padding: 5px;
    margin-left: 0%;
  }
  .imgContainer5{
    float: left;
    width: 38%;
    padding: 5px;
    margin-left: 24%;
  }
  .imgContainer6{
    float: left;
    width: 38%;
    padding: 5px;
    margin-left: 0%;
  }
  .fig-am1{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .fig-work{
    width: 88%;
    height: 88%;
    margin-left: 9%;
  }
  .fig-gen{
    width: 90%;
    height: 90%;
    margin-top: 10%;
    padding-bottom: 6%;
  }
  .fig-inject{
    width: 88%;
    height: 84%;
    margin-top: 8%;
    padding-bottom: 4%;
  }
  .fig-sense{
    width: 92%;
    height: 92%;
    margin-top: 8%;
    padding-bottom: 4%;
    padding-right: 4%;
  }
  .fig-system{
    width: 70%;
    height: 70%;
    margin-left: 20%;
  }
  .fig-cap1{
    margin-left: -1%;
    font-size: 16px;
    text-align: center;
    padding-bottom: 1%;
  }
  .fig-cap2{
    margin-left: 16%;
    font-size: 16px;
    padding-bottom: 5%;
    text-align: center;
  }
  .fig-cap3{
    margin-left: -4%;
    font-size: 16px;
    padding-bottom: 5%;
    text-align: center;
  }
  .fig-cap4{
    margin-left: -12%;
    font-size: 16px;
    padding-bottom: 5%;
    text-align: center;
  }
  .fig-cap5{
    margin-left: -8%;
    font-size: 16px;
    text-align: center;
    padding-bottom: 8%;
  }
  
  
  /* TEAM */
  .imgBx img{
    height: 100%;
  }
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  .heading h1 {
    font-size: 35px;
  }
  .heading p {
    font-size: 18px;
  }
  .heading span {
    margin-top: 20px;
    width: 200px;
    height: 0;
    color: var(--color);
    background: #03a9f4;
    border: 6px solid #03a9f4;
  }
  section#subnav {
    padding: 20px;
    width: 90%;
    margin: 40px auto;
  }
  #subnav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #subnav ul li {
    list-style: none;
    background: #96f1ff;
    color: #111 !important;
    padding: 8px 20px;
    margin: 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  #subnav ul li.active {
    background: #03a9f4;
    color: #fff !important;
  }
  
  section#main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #main .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 40px 0;
    margin-bottom: 100px;
  }
  #main .container .card {
    position: relative;
    width: 290px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #main .container .card .imgBx img {
    object-fit: cover;
    width: 100%;
  }
  #main .container .card .content {
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: bottom 0.5s;
    transition-delay: 0.65s;
  }
  #main .container .card:hover .content {
    bottom: 0;
    transition-delay: 0s;
  }
  #main .container .card .content .contentBx h3 {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    transition-delay: 0.6s;
    opacity: 0;
    transform: translateY(-20px);
  }
  #main .container .card:hover .content .contentBx h3 {
    opacity: 1;
    transform: translateY(0);
  }
  #main .container .card .content .contentBx h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
  }
  #main .container .card .content .sci {
    position: relative;
    bottom: 10px;
    display: flex;
  }
  #main .container .card .content .sci li {
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--i));
  }
  #main .container .card:hover .content .sci li {
    transform: translateY(0);
    opacity: 1;
  }
  #main .container .card .content .sci li a {
    color: white;
    font-size: 24px;
  }
  
  
  #container {
    margin: auto;
    color: #000000;
  }
  
  #container h2 {
    font-size: 30px;
    text-align: center;
  }
  
  #container h3 {
    font-size: 20px;
    text-align: center;
  }
  
  #container p {
    font-size: 15px;
    text-align: center;
  }
  
  label {
    width: 95px;
    height: 42px;
    background: var(--togglebg);
    position: relative;
    display: inline-block;
    margin-top: 10px;
    border-radius: 46px;
    transition: 0.4s;
    box-sizing: border-box;
  }
  
  input:checked + label {
    background-color: var(--togglebg);
  }
  
  label:after {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: var(--toggle);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.8s;
  }
  
  input:checked + label:after {
    left: 53px;
  }
  
  input {
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  /* NOTEBOOK */
  .overlay
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    opacity: 0.5;
    mix-blend-mode: overlay;
  }
  #timeline {
    display: flex;
    background-color: #031625;
  }
  #timeline:hover .tl-item {
    width: 23%;
  }
  
  .tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 162vh;
    min-height: 600px;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
  }
  .tl-item:before, .tl-item:after {
    transform: translate3d(0, 0, 0);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .tl-item:after {
    background: rgba(3, 22, 37, 0.85);
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  .tl-item:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
    z-index: 1;
    opacity: 0;
    transform: translate3d(0, 0, 0) translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .tl-item:hover {
    width: 62% !important;
  }
  .tl-item:hover:after {
    opacity: 0;
  }
  .tl-item:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateY(0);
    transition: opacity 1s ease, transform 1s ease 0.25s;
  }
  .tl-item:hover .tl-content {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.75s ease 0.5s;
  }
  .tl-item:hover .tl-bg {
    filter: grayscale(0);
  }
  
  .tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 32%;
    opacity: 0;
  }
  .tl-content h1 {
    text-transform: uppercase;
    color: #1779cf;
    font-size: 1.4rem;
    font-weight: normal;
  }
  .tl-content h2 {
    text-transform: uppercase;
    color: #1779cf;
    font-size: 1.25rem;
    font-weight: normal;
    letter-spacing: 2px;
  }
  .tl-content p {
    color: #fff;
    font-size: 0.85rem;
    font-weight: normal;
  }
  .tl-content li {
    color: #fff;
    font-size: 0.85rem;
    font-weight: normal;
  }
  
  .tl-year {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }
  .tl-year p {
    font-size: 1.5rem;
    line-height: 0;
  }
  
  .tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
  }
  
  /* IMPLEMENTATION */
  .head-content{
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeInBottom;
  }
  
  .head-content h1{
    font-size: 32px;
    text-align: center;
    line-height: 2;
    column-span: all;
    color: #01172F;
    animation-name: fadeInBottom;
  }
  
  .globe{
    width: 100%;
  }
  
  canvas{
    width: 100%;
  }
  
  /*TEAM --> Modals*/
  #modal-container-a {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 10;
  }
  #modal-container-a.six {
    transform: scale(1);
  }
  #modal-container-a.six .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-a.six .modal-background .modal {
    background-color: transparent;
    animation: modalFadeIn 1s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-a.six .modal-background .modal h2, #modal-container-a.six .modal-background .modal p {
    opacity: 0;
    position: relative;
    animation: modalContentFadeIn 1s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-a.six.out {
    animation: quickScaleDown 0s 1s linear forwards;
  }
  #modal-container-a.six.out .modal-background {
    animation: fadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-a.six.out .modal-background .modal {
    animation: modalFadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-a.six.out .modal-background .modal h2, #modal-container-a.six.out .modal-background .modal p {
    animation: modalContentFadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-a .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
  }
  #modal-container-a .modal-background .modal {
    background: white;
    padding: 54px 72px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
  }
  #modal-container-a .modal-background .modal h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
    color: #000;
  }
  #modal-container-a .modal-background .modal p {
    font-size: 18px;
    line-height: 22px;
    color: #000
  }
  #modal-container-a .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
  }
  #modal-container-a .modal-background .modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
  }
  
  #modal-container-ay {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 10;
  }
  #modal-container-ay.six {
    transform: scale(1);
  }
  #modal-container-ay.six .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-ay.six .modal-background .modal {
    background-color: transparent;
    animation: modalFadeIn 1s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-ay.six .modal-background .modal h2, #modal-container-ay.six .modal-background .modal p {
    opacity: 0;
    position: relative;
    animation: modalContentFadeIn 1s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-ay.six.out {
    animation: quickScaleDown 0s 1s linear forwards;
  }
  #modal-container-ay.six.out .modal-background {
    animation: fadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-ay.six.out .modal-background .modal {
    animation: modalFadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-ay.six.out .modal-background .modal h2, #modal-container-ay.six.out .modal-background .modal p {
    animation: modalContentFadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-ay .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
  }
  #modal-container-ay .modal-background .modal {
    background: white;
    padding: 54px 72px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
  }
  #modal-container-ay .modal-background .modal h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
    color: #000
  }
  #modal-container-ay .modal-background .modal p {
    font-size: 18px;
    line-height: 22px;
    color: #000
  }
  #modal-container-ay .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
  }
  #modal-container-ay .modal-background .modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
  }
  
  #modal-container-j {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 10;
  }
  #modal-container-j.six {
    transform: scale(1);
  }
  #modal-container-j.six .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-j.six .modal-background .modal {
    background-color: transparent;
    animation: modalFadeIn 1s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-j.six .modal-background .modal h2, #modal-container-j.six .modal-background .modal p {
    opacity: 0;
    position: relative;
    animation: modalContentFadeIn 1s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-j.six.out {
    animation: quickScaleDown 0s 1s linear forwards;
  }
  #modal-container-j.six.out .modal-background {
    animation: fadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-j.six.out .modal-background .modal {
    animation: modalFadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-j.six.out .modal-background .modal h2, #modal-container-j.six.out .modal-background .modal p {
    animation: modalContentFadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-j .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
  }
  #modal-container-j .modal-background .modal {
    background: white;
    padding: 54px 72px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
  }
  #modal-container-j .modal-background .modal h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
    color: #000
  }
  #modal-container-j .modal-background .modal p {
    font-size: 18px;
    line-height: 22px;
    color: #000
  }
  #modal-container-j .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
  }
  #modal-container-j .modal-background .modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
  }
  
  #modal-container-s {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 10;
  }
  #modal-container-s.six {
    transform: scale(1);
  }
  #modal-container-s.six .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-s.six .modal-background .modal {
    background-color: transparent;
    animation: modalFadeIn 1s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-s.six .modal-background .modal h2, #modal-container-s.six .modal-background .modal p {
    opacity: 0;
    position: relative;
    animation: modalContentFadeIn 1s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-s.six.out {
    animation: quickScaleDown 0s 1s linear forwards;
  }
  #modal-container-s.six.out .modal-background {
    animation: fadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-s.six.out .modal-background .modal {
    animation: modalFadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-s.six.out .modal-background .modal h2, #modal-container-s.six.out .modal-background .modal p {
    animation: modalContentFadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-s .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
  }
  #modal-container-s .modal-background .modal {
    background: white;
    padding: 54px 72px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
  }
  #modal-container-s .modal-background .modal h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
    color: #000
  }
  #modal-container-s .modal-background .modal p {
    font-size: 18px;
    line-height: 22px;
    color: #000
  }
  #modal-container-s .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
  }
  #modal-container-s .modal-background .modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
  }
  
  #modal-container-z {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 10;
  }
  #modal-container-z.six {
    transform: scale(1);
  }
  #modal-container-z.six .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-z.six .modal-background .modal {
    background-color: transparent;
    animation: modalFadeIn 1s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-z.six .modal-background .modal h2, #modal-container-z.six .modal-background .modal p {
    opacity: 0;
    position: relative;
    animation: modalContentFadeIn 1s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-z.six.out {
    animation: quickScaleDown 0s 1s linear forwards;
  }
  #modal-container-z.six.out .modal-background {
    animation: fadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-z.six.out .modal-background .modal {
    animation: modalFadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-z.six.out .modal-background .modal h2, #modal-container-z.six.out .modal-background .modal p {
    animation: modalContentFadeOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container-z .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
  }
  #modal-container-z .modal-background .modal {
    background: white;
    padding: 54px 72px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
  }
  #modal-container-z .modal-background .modal h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
    color: #000
  }
  #modal-container-z .modal-background .modal p {
    font-size: 18px;
    line-height: 22px;
    color: #000
  }
  #modal-container-z .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
  }
  #modal-container-z .modal-background .modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
  }
  
  @keyframes fadeIn {
    0% {
      background: rgba(0, 0, 0, 0);
    }
    100% {
      background: rgba(0, 0, 0, 0.7);
    }
  }
  @keyframes fadeOut {
    0% {
      background: rgba(0, 0, 0, 0.7);
    }
    100% {
      background: rgba(0, 0, 0, 0);
    }
  }
  @keyframes quickScaleDown {
    0% {
      transform: scale(1);
    }
    99.9% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes sketchIn {
    0% {
      stroke-dashoffset: 778;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes sketchOut {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 778;
    }
  }
  @keyframes modalFadeIn {
    0% {
      background-color: transparent;
    }
    100% {
      background-color: white;
    }
  }
  @keyframes modalFadeOut {
    0% {
      background-color: white;
    }
    100% {
      background-color: transparent;
    }
  }
  @keyframes modalContentFadeIn {
    0% {
      opacity: 0;
      top: -20px;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }
  @keyframes modalContentFadeOut {
    0% {
      opacity: 1;
      top: 0px;
    }
    100% {
      opacity: 0;
      top: -20px;
    }
  }
  
  /* ATTRIBUTIONS */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  
  .people{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 100px 0;
  }
  .person {
    width: 500px;
    padding: 70px 0 75px 220px;
    min-height: 350px;
    position: relative;
  }
  .person-badge {
    width: 200px;
    height: 280px;
    border-radius: 0 0 100px 100px;
    overflow: hidden;
    transform: rotate(0deg); /* To force its own layer */
    position: absolute;
    top: 0;
    left: 0;
  }
  .person-badge img.normal {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 500ms;
    object-fit: cover;
    object-position: 0 0%;;
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100%;
  }
  .person h3 {
    margin: 0;
    font-weight: 200;
    font-size: 28px;
  }
  .person li {
    margin: 0;
    font-weight: 200;
    font-size: 16px;
  }
  strong {
    color: #888;
    margin: -5px 0 5px 0;
    display: block;
    font-size: 0.8em;
  }
  
  /* ATTRIBUTIONS --> Sponsors */
  :root {
    --color-text: navy;
    --color-bg: papayawhip;
    --color-bg-accent: #ecdcc0;
    --size: clamp(10rem, 1rem + 25vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-text: papayawhip;
      --color-bg: navy;
      --color-bg-accent: #2626a0;
    }
  }
  
  * {
    box-sizing: border-box;
  }
  .sponsor{
    bottom: 15%;
  }
  .marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    mask-image: linear-gradient(
      var(--mask-direction, to right),
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 20%,
      hsl(0 0% 0% / 1) 80%,
      hsl(0 0% 0% / 0)
    );
  }
  .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll-x var(--duration) linear infinite;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .marquee__group {
      animation-play-state: paused;
    }
  }
  
  @keyframes scroll-x {
    from {
      transform: translateX(var(--scroll-start));
    }
    to {
      transform: translateX(var(--scroll-end));
    }
  }
  
  
  /* Element styles */
  .marquee svg {
    display: grid;
    place-items: center;
    width: var(--size);
    fill: var(--color-text);
    background: var(--color-bg-accent);
    aspect-ratio: 16/9;
    border-radius: 0.5rem;
  }
  
  /* Parent wrapper */
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: auto;
    max-width: 100vw;
  }
  
  /* COLLABORATION */
  * {
    box-sizing: border-box;
  }
  
  
  
  /* footer */
  footer a { color: white; font-weight: bold; text-decoration: none; }
  footer a:hover { color: white; text-decoration: underline; }
  
  .wave-footer {
    position: relative;
    width: 100%;
    color: #01172F;
  }
  
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .waves {
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: 0%;
    min-height: 136px;
    max-height: 158px;
    z-index: -1;
  }
  
  .wave-content{
    position: relative;
    bottom: 4%;
    left: 25%;
    width: 100%;
    height: 100%;
    z-index: 1;
    column-count: 2;
    column-width: 264px;
    column-gap: 10px;
    color: #fff;
  }
  
  .wave-content h1{
    font-size: 24px;
    column-span: all;
    margin-left: 12%;
  }
  
  .wave-content .wave-list a{
    font-size: 18px;
    color: #fff;
    margin-left: 13.5%;
  }
  
  .wave-content p{
    font-size: 12px;
    color: #fff;
    column-span: all;
     margin-left: %;
  }
  
  /* Reset some default styles to ensure consistency */
  body, h1, ul, li, p {
    margin: 0;
    padding: 0;
  }
  
  /* Set the white background and white font color */
  body {
    background-color: white;
    color: white;
  }
  
  /* Style the header with pink background and centered text */
  header {
    background-color: pink;
    text-align: center;
    padding: 20px;
  }
  
  /* Style the navigation menu */
  nav {
    background-color: pink;
  }
  
  nav ul {
    list-style: none;
    padding: 10px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  /* Style the main content area */
  main {
    padding: 20px;
  }
  
  /* Style the footer */
  footer {
    background-color: pink;
    text-align: center;
    padding: 10px;
  }
  