
    /* Add hot pink background color */
    body {
      background-color: rgb(233, 131, 182);
    }
    
    /* Add white font color and set font-family */
    p {
      color: white;
      font-family: Arial, sans-serif;
    }


